button{
    font-family: 'Source Code Pro', monospace;
    background: $color-black;
    color: $color-white;
    padding: 4px 10px;
    border: unset;
    cursor: pointer;
    margin-inline: 1em;
}
select, input{
    margin: 0px;
    font-family: 'Source Code Pro', monospace;
    display: block;
    width: 100%;
    background: $color-white;
    color: $color-black;
    padding: 4px 10px;
    border: 2px solid $color-black;
}
textarea{
    font-family: 'Source Code Pro', monospace;
    display: block;
    width: 100%;
    height: 5em;
    background: $color-white;
    color: $color-black;
    padding: 4px 10px;
    border: 2px solid $color-black;
    resize: none;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    background: transparent;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: $color-black;
    transition: background 0.15s ease;
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: $color-black;
    transition: background 0.15s ease;
}
input[type="radio"] {
    margin: 1em;
    accent-color: $color-black;
    transform: scale(1.2);
    display: inline;
    width: unset;
}
input[type="checkbox"] {
    margin: 1em;
    accent-color: $color-black;
    transform: scale(1.2);
    display: inline;
    width: unset;
}
*:focus, *:active {
    outline: none;
}